In [1]:
import datetime

t1 = datetime.datetime.now()

In [2]:
import configparser
import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, DateType, TimestampType
from pyspark.sql import functions as F 
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [3]:
config = configparser.ConfigParser()
config.read('dl.cfg')

['dl.cfg']

In [4]:
# added header ['credentials'] on cfg file

os.environ['AWS_ACCESS_KEY_ID']=config['credentials']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['credentials']['AWS_SECRET_ACCESS_KEY']

In [5]:
os.environ['AWS_ACCESS_KEY_ID']

'AKIA3XUTSG6HME7UKJ6H'

In [6]:
os.environ['AWS_SECRET_ACCESS_KEY']

'MIR9oCH7aSPqq1J5hejsmzJi2UdpGyx8eIGlQlDF'

In [7]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [8]:
spark = create_spark_session()
spark

In [9]:
# Take a peek at the data on s3

In [10]:
df_song = spark.read.json('s3a://udacity-dend/song_data/A/A/A/*.json')
df_song.show(5)

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARTC1LV1187B9A4858|        51.4536|Goldsmith's Colle...|        -0.01802|  The Bonzo Dog Band|301.40036|        1|SOAFBCP12A8C13CC7D|King Of Scurf (20...|1972|
|ARA23XO1187B9AF18F|       40.57885|Carteret, New Jersey|       -74.21956|     The Smithereens|  192.522|        1|SOKTJDS12AF72A25E5|Drown In My Own T...|   0|
|ARSVTNL1187B992A91|       51.50632|     London, England|        -0.12714|       Jonathan King|129.85424|        1|SOEKAZG12AB018837E|I'll Slap Your Fa...|2001|
|AR73AIO1187B9AD57B|       37.77916|   San Francisco, CA|      -122.42005|   Western Addiction|118.07302|        1|SOQPWCR12A6D4FB2A3|A Poor Recipe For...|2005|
|ARXQBR11187B98A2CC|           null|  Liverpool, England|            null|Frankie Goes To H...|821.05424|        1|SOBRKGM12A8C139EF6|Welcome to the Pl...|1985|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 5 rows

In [11]:
df_log = spark.read.json('s3a://udacity-dend/log_data/2018/11/2018-11-01-events.json')
df_log.show(5)

+-------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+------------+------+-------------+--------------------+------+
| artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|        song|status|           ts|           userAgent|userId|
+-------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+------------+------+-------------+--------------------+------+
|   null|Logged In|   Walter|     M|            0|    Frye|     null| free|San Francisco-Oak...|   GET|    Home|1.540919166796E12|       38|        null|   200|1541105830796|"Mozilla/5.0 (Mac...|    39|
|   null|Logged In|   Kaylee|     F|            0| Summers|     null| free|Phoenix-Mesa-Scot...|   GET|    Home|1.540344794796E12|      139|        null|   200|1541106106796|"Mozilla/5.0 (Win...|     8|
|Des'ree|Logged In|   Kaylee|     F|            1| Summers|246.30812| free|Phoenix-Mesa-Scot...|   PUT|NextSong|1.540344794796E12|      139|You Gotta Be|   200|1541106106796|"Mozilla/5.0 (Win...|     8|
|   null|Logged In|   Kaylee|     F|            2| Summers|     null| free|Phoenix-Mesa-Scot...|   GET| Upgrade|1.540344794796E12|      139|        null|   200|1541106132796|"Mozilla/5.0 (Win...|     8|
|Mr Oizo|Logged In|   Kaylee|     F|            3| Summers|144.03873| free|Phoenix-Mesa-Scot...|   PUT|NextSong|1.540344794796E12|      139|     Flat 55|   200|1541106352796|"Mozilla/5.0 (Win...|     8|
+-------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+------------+------+-------------+--------------------+------+
only showing top 5 rows

In [9]:
# use sample data in my own S3 bucket to test the script

input_data = "s3a://udacity-dend-michlin0825/" 
output_data = "s3a://sparkify-dend-michlin0825/"

In [10]:
# get filepath to song data file

song_data = input_data + 'song_data/*/*/*/*.json'

In [11]:
# read song data file

df_song = spark.read.json(song_data)
df_song.show(1)

+------------------+---------------+---------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+---------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|               |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
+------------------+---------------+---------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 1 row

In [12]:
# extract columns to create songs table

songs_table = df_song.select(["title", "artist_id","year", "duration"]).dropDuplicates().withColumn("song_id", monotonically_increasing_id())

In [13]:
songs_table.show(5)

+--------------------+------------------+----+---------+------------+
|               title|         artist_id|year| duration|     song_id|
+--------------------+------------------+----+---------+------------+
|It Wont Be Christmas|ARMBR4Y1187B9990EB|   0|241.47546|           0|
|      Setanta matins|AR5KOSW1187FB35FF4|   0|269.58322| 25769803776|
|       City Slickers|AR8IEZO1187B99055E|2008|149.86404| 68719476736|
|           Ten Tonne|AR62SOJ1187FB47BB5|2005|337.68444| 94489280512|
|     Baby Come To Me|AR9AWNF1187B9AB0B4|   0|236.93016|111669149696|
+--------------------+------------------+----+---------+------------+
only showing top 5 rows

In [ ]:
# write songs table to parquet files partitioned by year and artist

songs_table.write.mode('overwrite').partitionBy("year", "artist_id").parquet(output_data + 'songs/')

In [14]:
# extract columns to create artists table

artists_table = df_song.selectExpr(["artist_id", "artist_name as name", "artist_location as location", "artist_latitude as latitude", 
                                    "artist_longitude as longitude"]).dropDuplicates()

In [15]:
artists_table.show(5)

+------------------+---------------+---------------+--------+----------+
|         artist_id|           name|       location|latitude| longitude|
+------------------+---------------+---------------+--------+----------+
|ARPBNLO1187FB3D52F|       Tiny Tim|   New York, NY|40.71455| -74.00712|
|ARXR32B1187FB57099|            Gob|               |    null|      null|
|AROGWRA122988FEE45|Christos Dantis|               |    null|      null|
|ARBGXIG122988F409D|     Steel Rain|California - SF|37.77916|-122.42005|
|AREVWGE1187B9B890A|     Bitter End|      Noci (BA)| -13.442|  -41.9952|
+------------------+---------------+---------------+--------+----------+
only showing top 5 rows

In [ ]:
# write artists table to parquet files

artists_table.write.mode('overwrite').parquet(output_data + 'artists/')

In [16]:
# get filepath to log data file

log_data = input_data + 'log-data/*.json'

In [17]:
# read log data file

df_log = spark.read.json(log_data)

In [18]:
# filter by actions for song plays

df_log = df_log.filter(df_log.page == 'NextSong')
df_log.show(1)

+--------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+-------------+------+-------------+--------------------+------+
|  artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|         song|status|           ts|           userAgent|userId|
+--------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+-------------+------+-------------+--------------------+------+
|Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
+--------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+-------------+------+-------------+--------------------+------+
only showing top 1 row

In [19]:
# extract columns for users table

users_table = df_log.select(col('firstName').alias('first_name'), 
                            col('lastName').alias('last_name'), 
                            col('gender'), 
                            col('level'), 
                            col('userId').alias('user_id')).dropDuplicates()

In [20]:
users_table.show(5)

+----------+---------+------+-----+-------+
|first_name|last_name|gender|level|user_id|
+----------+---------+------+-----+-------+
|      Ryan|    Smith|     M| free|     26|
|    Adelyn|   Jordan|     F| free|      7|
|    Ayleen|     Wise|     F| free|     71|
|    Sienna|    Colon|     F| free|     81|
|    Dustin|      Lee|     M| free|     87|
+----------+---------+------+-----+-------+
only showing top 5 rows

In [ ]:
# write users table to parquet files

users_table.write.mode('overwrite').parquet(output_data + 'users/')

In [21]:
#create timestamp column from original timestamp column

get_timestamp = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000), TimestampType())
df_log = df_log.withColumn("timestamp", get_timestamp(df_log.ts))
df_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [22]:
df_log[['timestamp']].show(5)

+--------------------+
|           timestamp|
+--------------------+
|2018-11-15 00:30:...|
|2018-11-15 00:41:...|
|2018-11-15 00:45:...|
|2018-11-15 03:44:...|
|2018-11-15 05:48:...|
+--------------------+
only showing top 5 rows

In [23]:
# create datetime column from original timestamp column

df_log = df_log.withColumn('start_time', get_timestamp(df_log.ts))
df_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- start_time: timestamp (nullable = true)

In [24]:
df_log[['start_time']].show(5)

+--------------------+
|          start_time|
+--------------------+
|2018-11-15 00:30:...|
|2018-11-15 00:41:...|
|2018-11-15 00:45:...|
|2018-11-15 03:44:...|
|2018-11-15 05:48:...|
+--------------------+
only showing top 5 rows

In [25]:
# extract columns to create time table

df_log = df_log.withColumn("hour", F.hour("timestamp"))        \
               .withColumn("day", F.dayofweek("timestamp"))    \
               .withColumn("week", F.weekofyear("timestamp"))  \
               .withColumn("month", F.month("timestamp"))      \
               .withColumn("year", F.year("timestamp"))        \
               .withColumn("weekday", F.dayofweek("timestamp"))

In [26]:
time_table = df_log.select('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [27]:
time_table.show(5)

+--------------------+----+---+----+-----+----+-------+
|          start_time|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-15 00:30:...|   0|  5|  46|   11|2018|      5|
|2018-11-15 00:41:...|   0|  5|  46|   11|2018|      5|
|2018-11-15 00:45:...|   0|  5|  46|   11|2018|      5|
|2018-11-15 03:44:...|   3|  5|  46|   11|2018|      5|
|2018-11-15 05:48:...|   5|  5|  46|   11|2018|      5|
+--------------------+----+---+----+-----+----+-------+
only showing top 5 rows

In [ ]:
 # write time table to parquet files

time_table.write.mode('overwrite').partitionBy("year", "month").parquet(output_data + 'time/')

In [28]:
# read in song data to use for songplays table

df_log.createOrReplaceTempView("view_log")

df_song = df_song.drop('year')
df_song.createOrReplaceTempView("view_song")

time_table.createOrReplaceTempView("view_time")

In [29]:
# extract columns from joined song and log datasets to create songplays table

songplays_table = spark.sql(
    """select distinct view_log.start_time, view_log.userId as user_id, view_log.level, view_log.sessionId as session_id, 
    view_log.location, view_log.userAgent as user_agent, view_song.song_id, view_song.artist_id, view_time.year, view_time.month
    from view_log
        inner join 
    view_song 
        on view_log.artist = view_song.artist_name and 
        view_log.song = view_song.title and
        view_log.length = view_song.duration
        inner join 
    view_time 
        on view_log.start_time = view_time.start_time
    """
)

In [30]:
songplays_table = songplays_table.withColumn("songplay_id", monotonically_increasing_id())

In [31]:
songplays_table.show(5)

+--------------------+-------+-----+----------+--------------------+--------------------+------------------+------------------+----+-----+------------+
|          start_time|user_id|level|session_id|            location|          user_agent|           song_id|         artist_id|year|month| songplay_id|
+--------------------+-------+-----+----------+--------------------+--------------------+------------------+------------------+----+-----+------------+
|2018-11-21 21:56:...|     15| paid|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|2018|   11|549755813888|
+--------------------+-------+-----+----------+--------------------+--------------------+------------------+------------------+----+-----+------------+

In [32]:
songplays_table.printSchema()

root
 |-- start_time: timestamp (nullable = true)
 |-- user_id: string (nullable = true)
 |-- level: string (nullable = true)
 |-- session_id: long (nullable = true)
 |-- location: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- songplay_id: long (nullable = false)

In [34]:
# write songplays table to parquet files

songplays_table.write.mode('overwrite').partitionBy("year", "month").parquet(output_data + 'songplays/')

In [35]:
t2 = datetime.datetime.now()
print(t2 - t1)

0:13:52.432198